DEPLOYER_PRIVATE_KEY=

BASE_SEPOLIA_RPC_URL=

BASESCAN_API_KEY=

CHAINLINK_SUBSCRIPTION_ID=
CHAINLINK_DON_ID=
CHAINLINK_FUNCTIONS_ROUTER=

USDC_ADDRESS=
GOLD_PRICE_FEED=

RENTCAST_API_KEY=

TERRAVIO_BACKEND_BASE_URL=
TERRAVIO_API_KEY=

